<div id="addHero">
  <label for="alias">Alias:</label>
  <input type="text" name="alias" ng-model="alias"><br>
  <label for="firstName">First Name:</label>
  <input type="text" name="firstName"  ng-model="firstName"><br>
  <label for="lastName">Last Name:</label>
  <input type="text" name="lastName"   ng-model="lastName"><br>
  <label for="city">City:</label>
  <input type="text" name="city"  ng-model="city"><br>
  <label for="superPower">Super Power:</label>
  <select ng-model="superPower" ng-options="e as e.type for e in enum track by e.type" name="superPowers"></select>
  <input type="button" name="add" value="Add" ng-click="addHero()">
</div>
